In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('../data/raw/AAPL_1d.csv',skiprows=2)

#Rename Columns
df.columns = ['Date', 'Close', 'High', 'Low', 'Open', 'Volume'] 

# Parse dates and set index
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)

# Check for missing values
print(df.isnull().sum())

# Resample to weekly mean
weekly_df = df['Close'].resample('W').mean()

#Preview Weekly
# print(weekly_df.head(10))

df.head()

Close     0
High      0
Low       0
Open      0
Volume    0
dtype: int64

                Close       High        Low       Open     Volume
Date
2020-01-02  72.620819  72.681266  71.373196  71.627069  135480400
2020-01-03  71.914818  72.676447  71.689957  71.847118  146322800
2020-01-06  72.487846  72.526533  70.783248  71.034709  118387200
2020-01-07  72.146942  72.753823  71.926915  72.497529  108872000
2020-01-08  73.307503  73.609737  71.849525  71.849525  132079200